.container-fuild{
  height: 100vh;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 1px;
  // bottom: 15px;
  -webkit-box-shadow: 0 2px 10px 1px rgb(55, 127, 194);
  box-shadow: 0 1px 2px 1px #4162b5;

}
.grid-container{
  margin: 2%;
}

figcaption{
margin-left: 3.5%;
margin-top: 1%;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #927b7b;
  font-weight: bold;
  margin: 0 10px;
}

a>img {
  width: 100px;
  height: 100px;

}


.example-spacer {
  flex:  auto;
}

.sidenav {
  width: 200px;
  display: none;
}

.sidenav .mat-toolbar {
  // background: inherit;
  display: none;
}

.sidenav-content {
  top: 10%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  z-index: 1;
}

.mat-toolbar{
  // background-color: rgb(238, 250, 234);
  border-bottom: 1pt solid rgb(214, 214, 214);
}
.heading {
  font-size:150%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
