.card{

  border-color: cornflowerblue;
}
.container-fluid{
  margin  : 5% 0% -15% %0;
}
.form-label{
  color: rgb(5, 61, 145);
  font-weight: 550;
  padding-left: 1%;
}
mat-error{
  padding-left: 1%;
}
