<table class="table " style="border: 1px solid #4863a0;">
  <thead>
    <th style="border: 2px solid #4863a0">Check</th>
    <th style="border: 2px solid #4863a0">Indent_No</th>
    <th style="border: 2px solid #4863a0">Indent_Date</th>
    <th style="border: 2px solid #4863a0">Department</th>
    <th style="border: 2px solid #4863a0">Emp_name</th>
    <th style="border: 2px solid #4863a0">Raw_Material_Name</th>
    <th style="border: 2px solid #4863a0">UOM</th>
    <th style="border: 2px solid #4863a0">Approved_Qty</th>
    <th style="border: 2px solid #4863a0">PO_raised</th>
    <th style="border: 2px solid #4863a0">Balance</th>
    <th style="border: 2px solid #4863a0">PO_Qty</th>
    <th style="border: 2px solid #4863a0">Status</th>
    <th style="border: 2px solid #4863a0">Rate</th>
    <th style="border: 2px solid #4863a0">Discount</th>
    <th style="border: 2px solid #4863a0">Pack_Charge</th>
    <th style="border: 2px solid #4863a0">Tax_group_ID</th>
    <th style="border: 2px solid #4863a0">Restrict</th>
    <th style="border: 2px solid #4863a0">PO_raised</th>
    <th style="border: 2px solid #4863a0">Balance</th>
    <th style="border: 2px solid #4863a0">Freight</th>
    <th style="border: 2px solid #4863a0">HSN_code</th>
    <th style="border: 2px solid #4863a0">Pack_Qty</th>
  </thead>
  <tbody>
    <tr *ngFor="let mainTable of POMainTableArray">

      <td style="border: 2px solid #4863a0;text-align: center;">
        {{mainTable.PR_Ref_No}}</td>
      <td style="border: 2px solid #4863a0;text-align: center;">
        {{mainTable.PRDate |
        date:'dd-MMM-yyyy' }}
      </td>
      <td style="border: 2px solid #4863a0;text-align: left;">
        {{mainTable.deptname}}</td>
      <td style="border: 2px solid #4863a0;text-align: left;">
        {{mainTable.empname}}</td>
      <td style="border: 2px solid #4863a0;text-align: left;white-space: wrap;">
        {{mainTable.rawmatname}}</td>
      <td style="border: 2px solid #4863a0;text-align: left;">
        {{mainTable.uom}}
      </td>
      <td style="border: 2px solid #4863a0;">{{mainTable.ApprovedQty}}</td>
      <td style="border: 2px solid #4863a0;">{{mainTable.poqty}}</td>
      <td style="border: 2px solid #4863a0;">{{mainTable.balqty}}</td>
    </tr>
  </tbody>
</table>