
<!-- <button (click)="btn()">add</button> -->
<!-- <table>
  <tr *ngFor="let item of items; let i = index">
    <td>{{ item.GRN_Ref_No }}</td>
    <td>{{ item.GRNDate }}</td>
    <td>{{ item.GRNQty }}</td>
    <td>
      <input type="number"
        [readonly]="item.readOnly || isAnyUnconfirmedTransferQty(i)"
        [(ngModel)]="item.TransferQty"
        (input)="onTransferQtyInput(i)"
        placeholder="Enter Transfer Qty"
      />
    </td>
    <td>
      <button (click)="confirmTransferQty(i)" [disabled]="!item.allowAdd">+</button>
    </td>
    <td>
      <button (click)="removeRow(i)">🗑️</button>
    </td>
    <td>{{ item.Uom }}</td>
  </tr>
</table> -->
<button mat-raised-button color="primary" (click)="reverse()">reverse</button>
<button mat-raised-button color="primary" (click)="Duplicate()">Duplicate</button>
<button mat-raised-button color="primary" (click)="Swap()">Swap</button>
<button mat-raised-button color="primary" (click)="MinMax()">MinMax</button>
<button mat-raised-button color="primary" (click)="Commanvaluein2array()">Commanvaluein2array</button>

