.example-spacer {
  flex: 1 1 auto;
}

.heading {
  font-size: 30px;
}

.title {
  font-size: xx-large;
  font-weight: 550;
  color: brown;
}

.content {
  margin: 1%;
  padding: 1.2%;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px 1px rgb(55, 127, 194);
  box-shadow: 0 1px 2px 1px #4162b5;
  font-family: 'Times New Roman', Times, serif;
}

input {
  box-shadow: 0 1px 1px #d6d9e0;
  -webkit-box-shadow: 0 1px rgb(4, 60, 112);
}

.form-select {
  box-shadow: 0 1px 1px #d6d9e0;
  -webkit-box-shadow: 0 1px rgb(4, 60, 112);
}

.form-control {
  box-shadow: 0 1px 1px #d6d9e0;
  -webkit-box-shadow: 0 1px rgb(4, 60, 112);
}

.content {
  margin: 1%;
  padding: 1.2%;
  background-color: rgb(250, 246, 246);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px 1px rgb(55, 127, 194);
  box-shadow: 0 1px 2px 1px #4162b5;
  font-family: 'Times New Roman', Times, serif;
}


.head {
  text-align: center;
  justify-content: center;
  background-color: #4863a0;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.tabelhead {
  text-align: center;
  justify-content: center;
  background-color: #4863a0;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.body {
  font-size: 15px;
  padding: 10px;
  font-family: 'Robito';
  border: 0.1px solid rgb(198, 226, 252);
  border-right: 0.1px solid rgb(198, 226, 252);
}

.tabelbody {
  font-size: 15px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.right {
  text-align: right;
  justify-content: right;
}

span {
  color: #ff0000;
  font-size: 20px;
  font-weight: bolder;
}

.form-label {
  color: #0070d3;
  font-weight: 550;
  padding-left: 8px;
}

.indenttypelabel {
  border: solid rgb(218, 218, 218) 2px;
  border-radius: 8px;
  padding: 1.2% 0% 1.2% 0%;
  padding-right: 72%;
  box-shadow: 0 1px 1px #d6d9e0;
  -webkit-box-shadow: 0 1px rgb(4, 60, 112);
}

.viewbtn {
  // margin-top: 2.2%;
  float: right;
  text-align: right;
  // margin-right:10px
}

.example-margin {
  margin-top: 17.5%;
  border: solid rgb(82, 82, 82) 1.5px;
  border-radius: 8px;
}

.intentpendingviewbtn {
  margin-top: 6%;
  margin-left: 3%;
}

.spec {
  margin-top: 12px;
}

.Detalisbtn {
  margin-top: 6%;
  margin-left: 3%;
}

.savebtn {
  margin-right: .5%;
  margin-bottom: 1%;
}

textarea {
  resize: none;
}

.INDENT {
  background-color: rgb(214, 247, 247);

}

.modal {
  font-family: 'Times New Roman', Times, serif;
}

button {
  font-family: 'Times New Roman', Times, serif;
}

.full-width-table {
  width: 100%;
}

.indentrecordviewbtn {
  margin-top: 18.5%;
  background-color: rgb(201, 225, 247);
}

.de {
  margin-top: 15%;
  background-color: rgb(201, 225, 247);
}

.avlqty {
  margin-top: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.materialcursor {
  font-size: 12px;
  color: chocolate;
}

mat-card-content {
  background-color: rgb(241, 246, 250);
  border-radius: 20px;
}

mat-card {
  -webkit-box-shadow: 0 2px 10px 10px rgb(55, 127, 194);
  box-shadow: 0 1px 2px 1px #4162b5;
}

.head {
  text-align: center;
  justify-content: center;
  background-color: #4863a0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
 ng-select{
  padding: 0%;
  margin: 0%;
}
.body {
  font-size: 15px;
  font-family: 'Robito';
}

.Tab {
  display: none;
}

.mobile {
  display: none;
}

.Tabhide {
  display: table-cell;
}

.StockLess {
  background-color: #fd6969;
  color: black;
}

.ExpirayDateVaildation {
  background-color: #fd6969;
  color: black;
}

h1 {

  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(250, 250, 250);
}

@media only screen and (max-width: 799px) {
  .title {
    font-size: x-large;
  }

  .content {
    margin: 1%;
    padding: 2.5%;
  }
  example-spacer {
    flex: 1 1 auto;
  }
  .form-label {
    font-size: small;
  }
  span {
    font-size: small;
  }
  .heading {
    font-size: 25px;
  }

  .indenttypelabel {
    border: solid rgb(218, 218, 218) 2px;
    border-radius: 8px;
    margin: 2%;
    padding: 3.5% 0% 3.2% 0%;
    padding-right: 13%;
  }

  .gobtn {
    margin-top: 14.5%;
  }

  .example-margin {
    margin-top: 45%;
  }

  .intentpendingviewbtn {
    margin-top: 20%;
    margin-left: 23%;
  }

  .Detalisbtn {
    margin-top: 20%;
    margin-left: 20%;
  }

  .savebtn {
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .indentrecordviewbtn {
    margin-top: 55%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .de {
    margin-top: 57%;
  }

  .avlqty {
    margin-top: 4%;
  }

  .txtQty {
    margin-top: 5%;
  }

  .mobile {
    display: none;
  }

  .Tab {
    display: table-cell;
  }

  .Tabhide {
    display: none;
  }

  .input-group-text {
    width: 30%;
  }
  .form-control{
    font-size: small;
  }
  .form-label{
    font-size: small;
  }
  .head{
    font-size: small;
  }
  .body{
    font-size: small;
  }
  button{
    font-size: small;
    width: fit-content;
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size:medium;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .heading {
    font-size: 25px;
  }

  .indenttypelabel {
    border: solid rgb(218, 218, 218) 2px;
    border-radius: 8px;
    padding: 3.5% 0% 3.2% 0%;

  }

  .gobtn {
    margin-top: 13.5%;
  }

  .example-margin {
    margin-top: 50%;
    border: solid rgb(82, 82, 82) 1.5px;
    border-radius: 8px;
  }

  .intentpendingviewbtn {
    margin-top: 13%;
  }

  .savebtn {
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .mobile {
    display: table-cell
  }

  .Tab {
    display: none;
  }
}


// ----------------------- Navgiation Bar Style----------------------
.example-spacer {
  flex: 1%;

}
.sidenav-container {
  height: fit-content;

}
.sidenav-content {
  top: 12%;
}
.mat-toolbar.mat-primary {
  position: sticky;
  z-index: 1;

}
.mat-toolbar{

  border-bottom: solid rgb(226, 226, 226) .5pt;
}
.heading {

  margin-right: 3.8%;
  font-size: xx-large;
  font-weight: bolder;
 font-family:'Times New Roman', Times, serif
}

button {
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.btn:hover {
  background-color: rgb(214, 48, 48);
}
.modal-header{
  font-size: medium;
  background-color: #f7dd8a;
  color: brown;
  font-weight: 550;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 575px) and (max-width: 750px) {
  .heading {
    font-size: medium;
  }

  button {
    font-size: medium;
  }
}

@media screen and (max-width: 575px) {
  .heading {
    font-size: medium;
  }

  button {
    font-size: small;
  }
}

@media screen and (max-width:450px) {
  .heading {
    font-size: 14px;
  }

  button {
    font-size: 11px;
  }


}
