h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-weight: 600;
}

.form-label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.card {
    margin: 20px;
}

th {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(158, 158, 223);
    color: white;
}

td {
    font-family: 'Times New Roman', Times, serif;
}

ng-select{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}