h1 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center
}

.card {
    margin: 30px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

option {
    font-family: 'Times New Roman', Times, serif;
}

select {
    font-family: 'Times New Roman', Times, serif;
}

th {
    background-color: rgb(142, 142, 223);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

