h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-weight: 800;
    margin-top: 10px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

th {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

td {
    font-family: 'Times New Roman', Times, serif;
}

table {
    border: 1px solid rgb(175, 203, 228);
}

select {
    font-family: 'Times New Roman', Times, serif;
}

option {
    font-family: 'Times New Roman', Times, serif;
}

ng-select {
    font-family: 'Times New Roman', Times, serif;
}

#button {
    font-family: 'Times New Roman', Times, serif;
    padding: 9px;
}
.btn{
    font-family: 'Times New Roman', Times, serif; 
}