h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown
}

.card {
    margin: 30px
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

th {
    background-color: rgb(146, 146, 230);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

td {
    font-family: 'Times New Roman', Times, serif;
}