h1 {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
}

.card {
    margin: 30px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
th{
    background-color: rgb(144, 144, 221);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
td{
    font-family: 'Times New Roman', Times, serif;
}