<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav-content >
    <mat-toolbar  class=" navbar  navbar-light bg-primary" >
      <!-- <button mat-button class="Tool btn"  #myModals data-bs-toggle="modal" data-bs-target="#Modelbox" >Back
      </button> -->
      <button mat-button class="Tool btn"  (click)="back()">Back
      </button>
      <button mat-button class="Tool" routerLink="/Dashboard">Home </button>
      <span class="example-spacer"></span>
      <h1 class="heading">AIVA VENTURES</h1>
      <span class="example-spacer"></span>
      <button mat-button class="example-icon btn" aria-label="Example icon-button with share icon" routerLink="/login">
        Logout
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div class="modal" id="Modelbox" data-bs-backdrop='static'>
  <div class=" modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" >
        Warning!!!</div>
      <div class="modal-body">
        <h4>Do You Want To Go Back ?</h4>
      </div>
      <div class="modal-footer">
        <button mat-raised-button class="btn" #close  data-bs-dismiss="modal"(click)="back()">Yes</button>
        <button mat-raised-button  #close  data-bs-dismiss="modal"  color="primary" >No</button>
      </div>
    </div>
  </div>
</div> -->
