h1 {
    color: brown;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 540;
}

.card {
    margin: 25px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px
}

th {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    background-color: rgb(126, 126, 209);
    padding: 10px;
}
ng-select {
    font-family: 'Times New Roman', Times, serif;
}
td{
    font-family: 'Times New Roman', Times, serif;
    padding: 13px;
}
.form-check-input{
    border: 1px solid rgb(126, 126, 209);
}