<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a mat-button [routerLink]="'/Dashboard'"> Back </a>
      <a mat-button [routerLink]="'/Dashboard'">Home</a>
      <span class="head">AIVA VENTURES</span>
      <a class="logout" mat-button [routerLink]="'/home'" (click)="Logout()">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="content ">
    <mat-card-content class="justify-content-center" style="font-weight: 700;color: brown;">
      <h6 >Page Has Not Developed.. Please Wait...</h6>
    </mat-card-content>
</mat-card>
<!-- This Compontent Has Developed Created By Page Which are Not Developed -->
